<form action="" method="post" class="container">
  
    <fieldset class="row">
      <legend class="col-md-3">
        Anxiety, nervousness, worry or fear
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Anxiety,_nervousness,_worry_or_fear" id="Not_at_All_Anxiety,_nervousness,_worry_or_fear" value="0">
        <label class="form-check-label" for="Not_at_All_Anxiety,_nervousness,_worry_or_fear" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Anxiety,_nervousness,_worry_or_fear" id="Somewhat_Anxiety,_nervousness,_worry_or_fear" value="1">
        <label class="form-check-label" for="Somewhat_Anxiety,_nervousness,_worry_or_fear" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Anxiety,_nervousness,_worry_or_fear" id="Moderately_Anxiety,_nervousness,_worry_or_fear" value="2">
        <label class="form-check-label" for="Moderately_Anxiety,_nervousness,_worry_or_fear" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Anxiety,_nervousness,_worry_or_fear" id="A_Lot_Anxiety,_nervousness,_worry_or_fear" value="3">
        <label class="form-check-label" for="A_Lot_Anxiety,_nervousness,_worry_or_fear" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Feeling that things around you are strange or unreal
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_that_things_around_you_are_strange_or_unreal" id="Not_at_All_Feeling_that_things_around_you_are_strange_or_unreal" value="0">
        <label class="form-check-label" for="Not_at_All_Feeling_that_things_around_you_are_strange_or_unreal" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_that_things_around_you_are_strange_or_unreal" id="Somewhat_Feeling_that_things_around_you_are_strange_or_unreal" value="1">
        <label class="form-check-label" for="Somewhat_Feeling_that_things_around_you_are_strange_or_unreal" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_that_things_around_you_are_strange_or_unreal" id="Moderately_Feeling_that_things_around_you_are_strange_or_unreal" value="2">
        <label class="form-check-label" for="Moderately_Feeling_that_things_around_you_are_strange_or_unreal" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_that_things_around_you_are_strange_or_unreal" id="A_Lot_Feeling_that_things_around_you_are_strange_or_unreal" value="3">
        <label class="form-check-label" for="A_Lot_Feeling_that_things_around_you_are_strange_or_unreal" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Feeling detached from all or part of your body
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_detached_from_all_or_part_of_your_body" id="Not_at_All_Feeling_detached_from_all_or_part_of_your_body" value="0">
        <label class="form-check-label" for="Not_at_All_Feeling_detached_from_all_or_part_of_your_body" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_detached_from_all_or_part_of_your_body" id="Somewhat_Feeling_detached_from_all_or_part_of_your_body" value="1">
        <label class="form-check-label" for="Somewhat_Feeling_detached_from_all_or_part_of_your_body" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_detached_from_all_or_part_of_your_body" id="Moderately_Feeling_detached_from_all_or_part_of_your_body" value="2">
        <label class="form-check-label" for="Moderately_Feeling_detached_from_all_or_part_of_your_body" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_detached_from_all_or_part_of_your_body" id="A_Lot_Feeling_detached_from_all_or_part_of_your_body" value="3">
        <label class="form-check-label" for="A_Lot_Feeling_detached_from_all_or_part_of_your_body" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Sudden unexpected panic spells
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Sudden_unexpected_panic_spells" id="Not_at_All_Sudden_unexpected_panic_spells" value="0">
        <label class="form-check-label" for="Not_at_All_Sudden_unexpected_panic_spells" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Sudden_unexpected_panic_spells" id="Somewhat_Sudden_unexpected_panic_spells" value="1">
        <label class="form-check-label" for="Somewhat_Sudden_unexpected_panic_spells" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Sudden_unexpected_panic_spells" id="Moderately_Sudden_unexpected_panic_spells" value="2">
        <label class="form-check-label" for="Moderately_Sudden_unexpected_panic_spells" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Sudden_unexpected_panic_spells" id="A_Lot_Sudden_unexpected_panic_spells" value="3">
        <label class="form-check-label" for="A_Lot_Sudden_unexpected_panic_spells" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Apprehension or a sense of impending doom
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Apprehension_or_a_sense_of_impending_doom" id="Not_at_All_Apprehension_or_a_sense_of_impending_doom" value="0">
        <label class="form-check-label" for="Not_at_All_Apprehension_or_a_sense_of_impending_doom" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Apprehension_or_a_sense_of_impending_doom" id="Somewhat_Apprehension_or_a_sense_of_impending_doom" value="1">
        <label class="form-check-label" for="Somewhat_Apprehension_or_a_sense_of_impending_doom" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Apprehension_or_a_sense_of_impending_doom" id="Moderately_Apprehension_or_a_sense_of_impending_doom" value="2">
        <label class="form-check-label" for="Moderately_Apprehension_or_a_sense_of_impending_doom" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Apprehension_or_a_sense_of_impending_doom" id="A_Lot_Apprehension_or_a_sense_of_impending_doom" value="3">
        <label class="form-check-label" for="A_Lot_Apprehension_or_a_sense_of_impending_doom" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Feeling tense, stressed, “uptight” or on edge
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_tense,_stressed,_“uptight”_or_on_edge" id="Not_at_All_Feeling_tense,_stressed,_“uptight”_or_on_edge" value="0">
        <label class="form-check-label" for="Not_at_All_Feeling_tense,_stressed,_“uptight”_or_on_edge" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_tense,_stressed,_“uptight”_or_on_edge" id="Somewhat_Feeling_tense,_stressed,_“uptight”_or_on_edge" value="1">
        <label class="form-check-label" for="Somewhat_Feeling_tense,_stressed,_“uptight”_or_on_edge" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_tense,_stressed,_“uptight”_or_on_edge" id="Moderately_Feeling_tense,_stressed,_“uptight”_or_on_edge" value="2">
        <label class="form-check-label" for="Moderately_Feeling_tense,_stressed,_“uptight”_or_on_edge" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_tense,_stressed,_“uptight”_or_on_edge" id="A_Lot_Feeling_tense,_stressed,_“uptight”_or_on_edge" value="3">
        <label class="form-check-label" for="A_Lot_Feeling_tense,_stressed,_“uptight”_or_on_edge" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Difficulty concentrating
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Difficulty_concentrating" id="Not_at_All_Difficulty_concentrating" value="0">
        <label class="form-check-label" for="Not_at_All_Difficulty_concentrating" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Difficulty_concentrating" id="Somewhat_Difficulty_concentrating" value="1">
        <label class="form-check-label" for="Somewhat_Difficulty_concentrating" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Difficulty_concentrating" id="Moderately_Difficulty_concentrating" value="2">
        <label class="form-check-label" for="Moderately_Difficulty_concentrating" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Difficulty_concentrating" id="A_Lot_Difficulty_concentrating" value="3">
        <label class="form-check-label" for="A_Lot_Difficulty_concentrating" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Racing thoughts
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Racing_thoughts" id="Not_at_All_Racing_thoughts" value="0">
        <label class="form-check-label" for="Not_at_All_Racing_thoughts" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Racing_thoughts" id="Somewhat_Racing_thoughts" value="1">
        <label class="form-check-label" for="Somewhat_Racing_thoughts" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Racing_thoughts" id="Moderately_Racing_thoughts" value="2">
        <label class="form-check-label" for="Moderately_Racing_thoughts" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Racing_thoughts" id="A_Lot_Racing_thoughts" value="3">
        <label class="form-check-label" for="A_Lot_Racing_thoughts" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Frightening thoughts
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Frightening_thoughts" id="Not_at_All_Frightening_thoughts" value="0">
        <label class="form-check-label" for="Not_at_All_Frightening_thoughts" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Frightening_thoughts" id="Somewhat_Frightening_thoughts" value="1">
        <label class="form-check-label" for="Somewhat_Frightening_thoughts" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Frightening_thoughts" id="Moderately_Frightening_thoughts" value="2">
        <label class="form-check-label" for="Moderately_Frightening_thoughts" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Frightening_thoughts" id="A_Lot_Frightening_thoughts" value="3">
        <label class="form-check-label" for="A_Lot_Frightening_thoughts" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Feeling that you’re on the verge of losing control
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_that_you’re_on_the_verge_of_losing_control" id="Not_at_All_Feeling_that_you’re_on_the_verge_of_losing_control" value="0">
        <label class="form-check-label" for="Not_at_All_Feeling_that_you’re_on_the_verge_of_losing_control" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_that_you’re_on_the_verge_of_losing_control" id="Somewhat_Feeling_that_you’re_on_the_verge_of_losing_control" value="1">
        <label class="form-check-label" for="Somewhat_Feeling_that_you’re_on_the_verge_of_losing_control" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_that_you’re_on_the_verge_of_losing_control" id="Moderately_Feeling_that_you’re_on_the_verge_of_losing_control" value="2">
        <label class="form-check-label" for="Moderately_Feeling_that_you’re_on_the_verge_of_losing_control" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_that_you’re_on_the_verge_of_losing_control" id="A_Lot_Feeling_that_you’re_on_the_verge_of_losing_control" value="3">
        <label class="form-check-label" for="A_Lot_Feeling_that_you’re_on_the_verge_of_losing_control" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Fears of cracking up or going crazy
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_cracking_up_or_going_crazy" id="Not_at_All_Fears_of_cracking_up_or_going_crazy" value="0">
        <label class="form-check-label" for="Not_at_All_Fears_of_cracking_up_or_going_crazy" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_cracking_up_or_going_crazy" id="Somewhat_Fears_of_cracking_up_or_going_crazy" value="1">
        <label class="form-check-label" for="Somewhat_Fears_of_cracking_up_or_going_crazy" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_cracking_up_or_going_crazy" id="Moderately_Fears_of_cracking_up_or_going_crazy" value="2">
        <label class="form-check-label" for="Moderately_Fears_of_cracking_up_or_going_crazy" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_cracking_up_or_going_crazy" id="A_Lot_Fears_of_cracking_up_or_going_crazy" value="3">
        <label class="form-check-label" for="A_Lot_Fears_of_cracking_up_or_going_crazy" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Fears of fainting or passing out
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_fainting_or_passing_out" id="Not_at_All_Fears_of_fainting_or_passing_out" value="0">
        <label class="form-check-label" for="Not_at_All_Fears_of_fainting_or_passing_out" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_fainting_or_passing_out" id="Somewhat_Fears_of_fainting_or_passing_out" value="1">
        <label class="form-check-label" for="Somewhat_Fears_of_fainting_or_passing_out" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_fainting_or_passing_out" id="Moderately_Fears_of_fainting_or_passing_out" value="2">
        <label class="form-check-label" for="Moderately_Fears_of_fainting_or_passing_out" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_fainting_or_passing_out" id="A_Lot_Fears_of_fainting_or_passing_out" value="3">
        <label class="form-check-label" for="A_Lot_Fears_of_fainting_or_passing_out" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Fears of physical illnesses or heart attacks or dying
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_physical_illnesses_or_heart_attacks_or_dying" id="Not_at_All_Fears_of_physical_illnesses_or_heart_attacks_or_dying" value="0">
        <label class="form-check-label" for="Not_at_All_Fears_of_physical_illnesses_or_heart_attacks_or_dying" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_physical_illnesses_or_heart_attacks_or_dying" id="Somewhat_Fears_of_physical_illnesses_or_heart_attacks_or_dying" value="1">
        <label class="form-check-label" for="Somewhat_Fears_of_physical_illnesses_or_heart_attacks_or_dying" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_physical_illnesses_or_heart_attacks_or_dying" id="Moderately_Fears_of_physical_illnesses_or_heart_attacks_or_dying" value="2">
        <label class="form-check-label" for="Moderately_Fears_of_physical_illnesses_or_heart_attacks_or_dying" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_physical_illnesses_or_heart_attacks_or_dying" id="A_Lot_Fears_of_physical_illnesses_or_heart_attacks_or_dying" value="3">
        <label class="form-check-label" for="A_Lot_Fears_of_physical_illnesses_or_heart_attacks_or_dying" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Concerns about looking foolish or inadequate
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Concerns_about_looking_foolish_or_inadequate" id="Not_at_All_Concerns_about_looking_foolish_or_inadequate" value="0">
        <label class="form-check-label" for="Not_at_All_Concerns_about_looking_foolish_or_inadequate" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Concerns_about_looking_foolish_or_inadequate" id="Somewhat_Concerns_about_looking_foolish_or_inadequate" value="1">
        <label class="form-check-label" for="Somewhat_Concerns_about_looking_foolish_or_inadequate" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Concerns_about_looking_foolish_or_inadequate" id="Moderately_Concerns_about_looking_foolish_or_inadequate" value="2">
        <label class="form-check-label" for="Moderately_Concerns_about_looking_foolish_or_inadequate" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Concerns_about_looking_foolish_or_inadequate" id="A_Lot_Concerns_about_looking_foolish_or_inadequate" value="3">
        <label class="form-check-label" for="A_Lot_Concerns_about_looking_foolish_or_inadequate" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Fears of being alone, isolated, or abandoned
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_being_alone,_isolated,_or_abandoned" id="Not_at_All_Fears_of_being_alone,_isolated,_or_abandoned" value="0">
        <label class="form-check-label" for="Not_at_All_Fears_of_being_alone,_isolated,_or_abandoned" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_being_alone,_isolated,_or_abandoned" id="Somewhat_Fears_of_being_alone,_isolated,_or_abandoned" value="1">
        <label class="form-check-label" for="Somewhat_Fears_of_being_alone,_isolated,_or_abandoned" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_being_alone,_isolated,_or_abandoned" id="Moderately_Fears_of_being_alone,_isolated,_or_abandoned" value="2">
        <label class="form-check-label" for="Moderately_Fears_of_being_alone,_isolated,_or_abandoned" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_being_alone,_isolated,_or_abandoned" id="A_Lot_Fears_of_being_alone,_isolated,_or_abandoned" value="3">
        <label class="form-check-label" for="A_Lot_Fears_of_being_alone,_isolated,_or_abandoned" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Fears of criticism or disapproval
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_criticism_or_disapproval" id="Not_at_All_Fears_of_criticism_or_disapproval" value="0">
        <label class="form-check-label" for="Not_at_All_Fears_of_criticism_or_disapproval" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_criticism_or_disapproval" id="Somewhat_Fears_of_criticism_or_disapproval" value="1">
        <label class="form-check-label" for="Somewhat_Fears_of_criticism_or_disapproval" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_criticism_or_disapproval" id="Moderately_Fears_of_criticism_or_disapproval" value="2">
        <label class="form-check-label" for="Moderately_Fears_of_criticism_or_disapproval" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_of_criticism_or_disapproval" id="A_Lot_Fears_of_criticism_or_disapproval" value="3">
        <label class="form-check-label" for="A_Lot_Fears_of_criticism_or_disapproval" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Fears that something terrible is about to happen
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_that_something_terrible_is_about_to_happen" id="Not_at_All_Fears_that_something_terrible_is_about_to_happen" value="0">
        <label class="form-check-label" for="Not_at_All_Fears_that_something_terrible_is_about_to_happen" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_that_something_terrible_is_about_to_happen" id="Somewhat_Fears_that_something_terrible_is_about_to_happen" value="1">
        <label class="form-check-label" for="Somewhat_Fears_that_something_terrible_is_about_to_happen" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_that_something_terrible_is_about_to_happen" id="Moderately_Fears_that_something_terrible_is_about_to_happen" value="2">
        <label class="form-check-label" for="Moderately_Fears_that_something_terrible_is_about_to_happen" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Fears_that_something_terrible_is_about_to_happen" id="A_Lot_Fears_that_something_terrible_is_about_to_happen" value="3">
        <label class="form-check-label" for="A_Lot_Fears_that_something_terrible_is_about_to_happen" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Skipping, racing or pounding of the heart (palpitations)
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Skipping,_racing_or_pounding_of_the_heart_(palpitations)" id="Not_at_All_Skipping,_racing_or_pounding_of_the_heart_(palpitations)" value="0">
        <label class="form-check-label" for="Not_at_All_Skipping,_racing_or_pounding_of_the_heart_(palpitations)" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Skipping,_racing_or_pounding_of_the_heart_(palpitations)" id="Somewhat_Skipping,_racing_or_pounding_of_the_heart_(palpitations)" value="1">
        <label class="form-check-label" for="Somewhat_Skipping,_racing_or_pounding_of_the_heart_(palpitations)" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Skipping,_racing_or_pounding_of_the_heart_(palpitations)" id="Moderately_Skipping,_racing_or_pounding_of_the_heart_(palpitations)" value="2">
        <label class="form-check-label" for="Moderately_Skipping,_racing_or_pounding_of_the_heart_(palpitations)" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Skipping,_racing_or_pounding_of_the_heart_(palpitations)" id="A_Lot_Skipping,_racing_or_pounding_of_the_heart_(palpitations)" value="3">
        <label class="form-check-label" for="A_Lot_Skipping,_racing_or_pounding_of_the_heart_(palpitations)" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Pain, pressure, or tightness in chest
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Pain,_pressure,_or_tightness_in_chest" id="Not_at_All_Pain,_pressure,_or_tightness_in_chest" value="0">
        <label class="form-check-label" for="Not_at_All_Pain,_pressure,_or_tightness_in_chest" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Pain,_pressure,_or_tightness_in_chest" id="Somewhat_Pain,_pressure,_or_tightness_in_chest" value="1">
        <label class="form-check-label" for="Somewhat_Pain,_pressure,_or_tightness_in_chest" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Pain,_pressure,_or_tightness_in_chest" id="Moderately_Pain,_pressure,_or_tightness_in_chest" value="2">
        <label class="form-check-label" for="Moderately_Pain,_pressure,_or_tightness_in_chest" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Pain,_pressure,_or_tightness_in_chest" id="A_Lot_Pain,_pressure,_or_tightness_in_chest" value="3">
        <label class="form-check-label" for="A_Lot_Pain,_pressure,_or_tightness_in_chest" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Tingling or numbness of toes and fingers
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Tingling_or_numbness_of_toes_and_fingers" id="Not_at_All_Tingling_or_numbness_of_toes_and_fingers" value="0">
        <label class="form-check-label" for="Not_at_All_Tingling_or_numbness_of_toes_and_fingers" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Tingling_or_numbness_of_toes_and_fingers" id="Somewhat_Tingling_or_numbness_of_toes_and_fingers" value="1">
        <label class="form-check-label" for="Somewhat_Tingling_or_numbness_of_toes_and_fingers" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Tingling_or_numbness_of_toes_and_fingers" id="Moderately_Tingling_or_numbness_of_toes_and_fingers" value="2">
        <label class="form-check-label" for="Moderately_Tingling_or_numbness_of_toes_and_fingers" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Tingling_or_numbness_of_toes_and_fingers" id="A_Lot_Tingling_or_numbness_of_toes_and_fingers" value="3">
        <label class="form-check-label" for="A_Lot_Tingling_or_numbness_of_toes_and_fingers" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Butterflies or discomfort in the stomach
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Butterflies_or_discomfort_in_the_stomach" id="Not_at_All_Butterflies_or_discomfort_in_the_stomach" value="0">
        <label class="form-check-label" for="Not_at_All_Butterflies_or_discomfort_in_the_stomach" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Butterflies_or_discomfort_in_the_stomach" id="Somewhat_Butterflies_or_discomfort_in_the_stomach" value="1">
        <label class="form-check-label" for="Somewhat_Butterflies_or_discomfort_in_the_stomach" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Butterflies_or_discomfort_in_the_stomach" id="Moderately_Butterflies_or_discomfort_in_the_stomach" value="2">
        <label class="form-check-label" for="Moderately_Butterflies_or_discomfort_in_the_stomach" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Butterflies_or_discomfort_in_the_stomach" id="A_Lot_Butterflies_or_discomfort_in_the_stomach" value="3">
        <label class="form-check-label" for="A_Lot_Butterflies_or_discomfort_in_the_stomach" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Constipation or diarrhea
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Constipation_or_diarrhea" id="Not_at_All_Constipation_or_diarrhea" value="0">
        <label class="form-check-label" for="Not_at_All_Constipation_or_diarrhea" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Constipation_or_diarrhea" id="Somewhat_Constipation_or_diarrhea" value="1">
        <label class="form-check-label" for="Somewhat_Constipation_or_diarrhea" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Constipation_or_diarrhea" id="Moderately_Constipation_or_diarrhea" value="2">
        <label class="form-check-label" for="Moderately_Constipation_or_diarrhea" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Constipation_or_diarrhea" id="A_Lot_Constipation_or_diarrhea" value="3">
        <label class="form-check-label" for="A_Lot_Constipation_or_diarrhea" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Restlessness or jumpiness
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Restlessness_or_jumpiness" id="Not_at_All_Restlessness_or_jumpiness" value="0">
        <label class="form-check-label" for="Not_at_All_Restlessness_or_jumpiness" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Restlessness_or_jumpiness" id="Somewhat_Restlessness_or_jumpiness" value="1">
        <label class="form-check-label" for="Somewhat_Restlessness_or_jumpiness" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Restlessness_or_jumpiness" id="Moderately_Restlessness_or_jumpiness" value="2">
        <label class="form-check-label" for="Moderately_Restlessness_or_jumpiness" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Restlessness_or_jumpiness" id="A_Lot_Restlessness_or_jumpiness" value="3">
        <label class="form-check-label" for="A_Lot_Restlessness_or_jumpiness" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Tight, tense muscles
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Tight,_tense_muscles" id="Not_at_All_Tight,_tense_muscles" value="0">
        <label class="form-check-label" for="Not_at_All_Tight,_tense_muscles" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Tight,_tense_muscles" id="Somewhat_Tight,_tense_muscles" value="1">
        <label class="form-check-label" for="Somewhat_Tight,_tense_muscles" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Tight,_tense_muscles" id="Moderately_Tight,_tense_muscles" value="2">
        <label class="form-check-label" for="Moderately_Tight,_tense_muscles" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Tight,_tense_muscles" id="A_Lot_Tight,_tense_muscles" value="3">
        <label class="form-check-label" for="A_Lot_Tight,_tense_muscles" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Sweating not brought on by heat
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Sweating_not_brought_on_by_heat" id="Not_at_All_Sweating_not_brought_on_by_heat" value="0">
        <label class="form-check-label" for="Not_at_All_Sweating_not_brought_on_by_heat" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Sweating_not_brought_on_by_heat" id="Somewhat_Sweating_not_brought_on_by_heat" value="1">
        <label class="form-check-label" for="Somewhat_Sweating_not_brought_on_by_heat" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Sweating_not_brought_on_by_heat" id="Moderately_Sweating_not_brought_on_by_heat" value="2">
        <label class="form-check-label" for="Moderately_Sweating_not_brought_on_by_heat" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Sweating_not_brought_on_by_heat" id="A_Lot_Sweating_not_brought_on_by_heat" value="3">
        <label class="form-check-label" for="A_Lot_Sweating_not_brought_on_by_heat" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        A lump in the throat
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="A_lump_in_the_throat" id="Not_at_All_A_lump_in_the_throat" value="0">
        <label class="form-check-label" for="Not_at_All_A_lump_in_the_throat" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="A_lump_in_the_throat" id="Somewhat_A_lump_in_the_throat" value="1">
        <label class="form-check-label" for="Somewhat_A_lump_in_the_throat" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="A_lump_in_the_throat" id="Moderately_A_lump_in_the_throat" value="2">
        <label class="form-check-label" for="Moderately_A_lump_in_the_throat" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="A_lump_in_the_throat" id="A_Lot_A_lump_in_the_throat" value="3">
        <label class="form-check-label" for="A_Lot_A_lump_in_the_throat" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Trembling or shaking
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Trembling_or_shaking" id="Not_at_All_Trembling_or_shaking" value="0">
        <label class="form-check-label" for="Not_at_All_Trembling_or_shaking" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Trembling_or_shaking" id="Somewhat_Trembling_or_shaking" value="1">
        <label class="form-check-label" for="Somewhat_Trembling_or_shaking" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Trembling_or_shaking" id="Moderately_Trembling_or_shaking" value="2">
        <label class="form-check-label" for="Moderately_Trembling_or_shaking" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Trembling_or_shaking" id="A_Lot_Trembling_or_shaking" value="3">
        <label class="form-check-label" for="A_Lot_Trembling_or_shaking" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Rubbery or \“jelly\” legs
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Rubbery_or_\“jelly\”_legs" id="Not_at_All_Rubbery_or_\“jelly\”_legs" value="0">
        <label class="form-check-label" for="Not_at_All_Rubbery_or_\“jelly\”_legs" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Rubbery_or_\“jelly\”_legs" id="Somewhat_Rubbery_or_\“jelly\”_legs" value="1">
        <label class="form-check-label" for="Somewhat_Rubbery_or_\“jelly\”_legs" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Rubbery_or_\“jelly\”_legs" id="Moderately_Rubbery_or_\“jelly\”_legs" value="2">
        <label class="form-check-label" for="Moderately_Rubbery_or_\“jelly\”_legs" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Rubbery_or_\“jelly\”_legs" id="A_Lot_Rubbery_or_\“jelly\”_legs" value="3">
        <label class="form-check-label" for="A_Lot_Rubbery_or_\“jelly\”_legs" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Feeling dizzy, lightheaded or off balance
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_dizzy,_lightheaded_or_off_balance" id="Not_at_All_Feeling_dizzy,_lightheaded_or_off_balance" value="0">
        <label class="form-check-label" for="Not_at_All_Feeling_dizzy,_lightheaded_or_off_balance" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_dizzy,_lightheaded_or_off_balance" id="Somewhat_Feeling_dizzy,_lightheaded_or_off_balance" value="1">
        <label class="form-check-label" for="Somewhat_Feeling_dizzy,_lightheaded_or_off_balance" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_dizzy,_lightheaded_or_off_balance" id="Moderately_Feeling_dizzy,_lightheaded_or_off_balance" value="2">
        <label class="form-check-label" for="Moderately_Feeling_dizzy,_lightheaded_or_off_balance" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_dizzy,_lightheaded_or_off_balance" id="A_Lot_Feeling_dizzy,_lightheaded_or_off_balance" value="3">
        <label class="form-check-label" for="A_Lot_Feeling_dizzy,_lightheaded_or_off_balance" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Choking or smothering sensations or difficulty breathing
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Choking_or_smothering_sensations_or_difficulty_breathing" id="Not_at_All_Choking_or_smothering_sensations_or_difficulty_breathing" value="0">
        <label class="form-check-label" for="Not_at_All_Choking_or_smothering_sensations_or_difficulty_breathing" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Choking_or_smothering_sensations_or_difficulty_breathing" id="Somewhat_Choking_or_smothering_sensations_or_difficulty_breathing" value="1">
        <label class="form-check-label" for="Somewhat_Choking_or_smothering_sensations_or_difficulty_breathing" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Choking_or_smothering_sensations_or_difficulty_breathing" id="Moderately_Choking_or_smothering_sensations_or_difficulty_breathing" value="2">
        <label class="form-check-label" for="Moderately_Choking_or_smothering_sensations_or_difficulty_breathing" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Choking_or_smothering_sensations_or_difficulty_breathing" id="A_Lot_Choking_or_smothering_sensations_or_difficulty_breathing" value="3">
        <label class="form-check-label" for="A_Lot_Choking_or_smothering_sensations_or_difficulty_breathing" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Headaches or pains in the neck or back
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Headaches_or_pains_in_the_neck_or_back" id="Not_at_All_Headaches_or_pains_in_the_neck_or_back" value="0">
        <label class="form-check-label" for="Not_at_All_Headaches_or_pains_in_the_neck_or_back" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Headaches_or_pains_in_the_neck_or_back" id="Somewhat_Headaches_or_pains_in_the_neck_or_back" value="1">
        <label class="form-check-label" for="Somewhat_Headaches_or_pains_in_the_neck_or_back" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Headaches_or_pains_in_the_neck_or_back" id="Moderately_Headaches_or_pains_in_the_neck_or_back" value="2">
        <label class="form-check-label" for="Moderately_Headaches_or_pains_in_the_neck_or_back" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Headaches_or_pains_in_the_neck_or_back" id="A_Lot_Headaches_or_pains_in_the_neck_or_back" value="3">
        <label class="form-check-label" for="A_Lot_Headaches_or_pains_in_the_neck_or_back" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Hot flashes or cold chills
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Hot_flashes_or_cold_chills" id="Not_at_All_Hot_flashes_or_cold_chills" value="0">
        <label class="form-check-label" for="Not_at_All_Hot_flashes_or_cold_chills" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Hot_flashes_or_cold_chills" id="Somewhat_Hot_flashes_or_cold_chills" value="1">
        <label class="form-check-label" for="Somewhat_Hot_flashes_or_cold_chills" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Hot_flashes_or_cold_chills" id="Moderately_Hot_flashes_or_cold_chills" value="2">
        <label class="form-check-label" for="Moderately_Hot_flashes_or_cold_chills" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Hot_flashes_or_cold_chills" id="A_Lot_Hot_flashes_or_cold_chills" value="3">
        <label class="form-check-label" for="A_Lot_Hot_flashes_or_cold_chills" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-3">
        Feeling tired, weak, or easily exhausted
      </legend>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_tired,_weak,_or_easily_exhausted" id="Not_at_All_Feeling_tired,_weak,_or_easily_exhausted" value="0">
        <label class="form-check-label" for="Not_at_All_Feeling_tired,_weak,_or_easily_exhausted" >
          Not at All
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_tired,_weak,_or_easily_exhausted" id="Somewhat_Feeling_tired,_weak,_or_easily_exhausted" value="1">
        <label class="form-check-label" for="Somewhat_Feeling_tired,_weak,_or_easily_exhausted" >
          Somewhat
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_tired,_weak,_or_easily_exhausted" id="Moderately_Feeling_tired,_weak,_or_easily_exhausted" value="2">
        <label class="form-check-label" for="Moderately_Feeling_tired,_weak,_or_easily_exhausted" >
          Moderately
        </label>
      </div>
      
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling_tired,_weak,_or_easily_exhausted" id="A_Lot_Feeling_tired,_weak,_or_easily_exhausted" value="3">
        <label class="form-check-label" for="A_Lot_Feeling_tired,_weak,_or_easily_exhausted" >
          A Lot
        </label>
      </div>
      
  
    </fieldset>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-primary">Reset</button>
</form>
