<main>
  <div class="container-lg">
    <p> Deleting your account will remove your email, password, and all of your data</p>
    <p> Delete account?</p>
    <form action="/delete/account" method="post">
      <button class="btn btn-danger" type="submit">Delete!</button>
    </form>
  </div>
</main>