<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <p class="lead">
        Select how much you have experienced each symptom during the past week, including today. Please answer all 25 items.
      </p>
    </div>
  </div>
</div>


<form action="/depression/new" method="post" class="container">
  
    <fieldset class="row">
      <legend class="col-md-4">
        Feeling sad or down in the dumps
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling sad or down in the dumps" id="not_at_all_Feeling sad or down in the dumps" value="0">
        <label class="form-check-label" for="not_at_all_Feeling sad or down in the dumps" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Feeling sad or down in the dumps" id="somewhat_Feeling sad or down in the dumps" value="1">
          <label class="form-check-label" for="somewhat_Feeling sad or down in the dumps">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling sad or down in the dumps" id="moderately_Feeling sad or down in the dumps" value="2">
        <label class="form-check-label" for="moderately_Feeling sad or down in the dumps">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling sad or down in the dumps" id="a_lot_Feeling sad or down in the dumps" value="3">
        <label class="form-check-label" for="a_lot_Feeling sad or down in the dumps">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Feeling unhappy or blue
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling unhappy or blue" id="not_at_all_Feeling unhappy or blue" value="0">
        <label class="form-check-label" for="not_at_all_Feeling unhappy or blue" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Feeling unhappy or blue" id="somewhat_Feeling unhappy or blue" value="1">
          <label class="form-check-label" for="somewhat_Feeling unhappy or blue">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling unhappy or blue" id="moderately_Feeling unhappy or blue" value="2">
        <label class="form-check-label" for="moderately_Feeling unhappy or blue">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling unhappy or blue" id="a_lot_Feeling unhappy or blue" value="3">
        <label class="form-check-label" for="a_lot_Feeling unhappy or blue">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Crying spells or tearfulness
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Crying spells or tearfulness" id="not_at_all_Crying spells or tearfulness" value="0">
        <label class="form-check-label" for="not_at_all_Crying spells or tearfulness" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Crying spells or tearfulness" id="somewhat_Crying spells or tearfulness" value="1">
          <label class="form-check-label" for="somewhat_Crying spells or tearfulness">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Crying spells or tearfulness" id="moderately_Crying spells or tearfulness" value="2">
        <label class="form-check-label" for="moderately_Crying spells or tearfulness">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Crying spells or tearfulness" id="a_lot_Crying spells or tearfulness" value="3">
        <label class="form-check-label" for="a_lot_Crying spells or tearfulness">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Feeling discouraged
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling discouraged" id="not_at_all_Feeling discouraged" value="0">
        <label class="form-check-label" for="not_at_all_Feeling discouraged" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Feeling discouraged" id="somewhat_Feeling discouraged" value="1">
          <label class="form-check-label" for="somewhat_Feeling discouraged">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling discouraged" id="moderately_Feeling discouraged" value="2">
        <label class="form-check-label" for="moderately_Feeling discouraged">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling discouraged" id="a_lot_Feeling discouraged" value="3">
        <label class="form-check-label" for="a_lot_Feeling discouraged">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Feeling hopeless
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling hopeless" id="not_at_all_Feeling hopeless" value="0">
        <label class="form-check-label" for="not_at_all_Feeling hopeless" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Feeling hopeless" id="somewhat_Feeling hopeless" value="1">
          <label class="form-check-label" for="somewhat_Feeling hopeless">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling hopeless" id="moderately_Feeling hopeless" value="2">
        <label class="form-check-label" for="moderately_Feeling hopeless">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling hopeless" id="a_lot_Feeling hopeless" value="3">
        <label class="form-check-label" for="a_lot_Feeling hopeless">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Low self-­‐esteem
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Low self-­‐esteem" id="not_at_all_Low self-­‐esteem" value="0">
        <label class="form-check-label" for="not_at_all_Low self-­‐esteem" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Low self-­‐esteem" id="somewhat_Low self-­‐esteem" value="1">
          <label class="form-check-label" for="somewhat_Low self-­‐esteem">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Low self-­‐esteem" id="moderately_Low self-­‐esteem" value="2">
        <label class="form-check-label" for="moderately_Low self-­‐esteem">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Low self-­‐esteem" id="a_lot_Low self-­‐esteem" value="3">
        <label class="form-check-label" for="a_lot_Low self-­‐esteem">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Feeling worthless or inadequate
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling worthless or inadequate" id="not_at_all_Feeling worthless or inadequate" value="0">
        <label class="form-check-label" for="not_at_all_Feeling worthless or inadequate" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Feeling worthless or inadequate" id="somewhat_Feeling worthless or inadequate" value="1">
          <label class="form-check-label" for="somewhat_Feeling worthless or inadequate">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling worthless or inadequate" id="moderately_Feeling worthless or inadequate" value="2">
        <label class="form-check-label" for="moderately_Feeling worthless or inadequate">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling worthless or inadequate" id="a_lot_Feeling worthless or inadequate" value="3">
        <label class="form-check-label" for="a_lot_Feeling worthless or inadequate">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Guilt or shame
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Guilt or shame" id="not_at_all_Guilt or shame" value="0">
        <label class="form-check-label" for="not_at_all_Guilt or shame" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Guilt or shame" id="somewhat_Guilt or shame" value="1">
          <label class="form-check-label" for="somewhat_Guilt or shame">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Guilt or shame" id="moderately_Guilt or shame" value="2">
        <label class="form-check-label" for="moderately_Guilt or shame">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Guilt or shame" id="a_lot_Guilt or shame" value="3">
        <label class="form-check-label" for="a_lot_Guilt or shame">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Criticizing yourself or blaming others
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Criticizing yourself or blaming others" id="not_at_all_Criticizing yourself or blaming others" value="0">
        <label class="form-check-label" for="not_at_all_Criticizing yourself or blaming others" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Criticizing yourself or blaming others" id="somewhat_Criticizing yourself or blaming others" value="1">
          <label class="form-check-label" for="somewhat_Criticizing yourself or blaming others">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Criticizing yourself or blaming others" id="moderately_Criticizing yourself or blaming others" value="2">
        <label class="form-check-label" for="moderately_Criticizing yourself or blaming others">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Criticizing yourself or blaming others" id="a_lot_Criticizing yourself or blaming others" value="3">
        <label class="form-check-label" for="a_lot_Criticizing yourself or blaming others">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Difficulty making decisions
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Difficulty making decisions" id="not_at_all_Difficulty making decisions" value="0">
        <label class="form-check-label" for="not_at_all_Difficulty making decisions" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Difficulty making decisions" id="somewhat_Difficulty making decisions" value="1">
          <label class="form-check-label" for="somewhat_Difficulty making decisions">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Difficulty making decisions" id="moderately_Difficulty making decisions" value="2">
        <label class="form-check-label" for="moderately_Difficulty making decisions">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Difficulty making decisions" id="a_lot_Difficulty making decisions" value="3">
        <label class="form-check-label" for="a_lot_Difficulty making decisions">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Loss of interest in family, friends or colleagues
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of interest in family, friends or colleagues" id="not_at_all_Loss of interest in family, friends or colleagues" value="0">
        <label class="form-check-label" for="not_at_all_Loss of interest in family, friends or colleagues" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Loss of interest in family, friends or colleagues" id="somewhat_Loss of interest in family, friends or colleagues" value="1">
          <label class="form-check-label" for="somewhat_Loss of interest in family, friends or colleagues">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of interest in family, friends or colleagues" id="moderately_Loss of interest in family, friends or colleagues" value="2">
        <label class="form-check-label" for="moderately_Loss of interest in family, friends or colleagues">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of interest in family, friends or colleagues" id="a_lot_Loss of interest in family, friends or colleagues" value="3">
        <label class="form-check-label" for="a_lot_Loss of interest in family, friends or colleagues">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Loneliness
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loneliness" id="not_at_all_Loneliness" value="0">
        <label class="form-check-label" for="not_at_all_Loneliness" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Loneliness" id="somewhat_Loneliness" value="1">
          <label class="form-check-label" for="somewhat_Loneliness">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loneliness" id="moderately_Loneliness" value="2">
        <label class="form-check-label" for="moderately_Loneliness">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loneliness" id="a_lot_Loneliness" value="3">
        <label class="form-check-label" for="a_lot_Loneliness">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Spending less time with family or friends
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Spending less time with family or friends" id="not_at_all_Spending less time with family or friends" value="0">
        <label class="form-check-label" for="not_at_all_Spending less time with family or friends" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Spending less time with family or friends" id="somewhat_Spending less time with family or friends" value="1">
          <label class="form-check-label" for="somewhat_Spending less time with family or friends">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Spending less time with family or friends" id="moderately_Spending less time with family or friends" value="2">
        <label class="form-check-label" for="moderately_Spending less time with family or friends">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Spending less time with family or friends" id="a_lot_Spending less time with family or friends" value="3">
        <label class="form-check-label" for="a_lot_Spending less time with family or friends">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Loss of motivation
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of motivation" id="not_at_all_Loss of motivation" value="0">
        <label class="form-check-label" for="not_at_all_Loss of motivation" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Loss of motivation" id="somewhat_Loss of motivation" value="1">
          <label class="form-check-label" for="somewhat_Loss of motivation">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of motivation" id="moderately_Loss of motivation" value="2">
        <label class="form-check-label" for="moderately_Loss of motivation">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of motivation" id="a_lot_Loss of motivation" value="3">
        <label class="form-check-label" for="a_lot_Loss of motivation">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Loss of interest in work or other activities
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of interest in work or other activities" id="not_at_all_Loss of interest in work or other activities" value="0">
        <label class="form-check-label" for="not_at_all_Loss of interest in work or other activities" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Loss of interest in work or other activities" id="somewhat_Loss of interest in work or other activities" value="1">
          <label class="form-check-label" for="somewhat_Loss of interest in work or other activities">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of interest in work or other activities" id="moderately_Loss of interest in work or other activities" value="2">
        <label class="form-check-label" for="moderately_Loss of interest in work or other activities">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of interest in work or other activities" id="a_lot_Loss of interest in work or other activities" value="3">
        <label class="form-check-label" for="a_lot_Loss of interest in work or other activities">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Avoiding work or other activities
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Avoiding work or other activities" id="not_at_all_Avoiding work or other activities" value="0">
        <label class="form-check-label" for="not_at_all_Avoiding work or other activities" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Avoiding work or other activities" id="somewhat_Avoiding work or other activities" value="1">
          <label class="form-check-label" for="somewhat_Avoiding work or other activities">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Avoiding work or other activities" id="moderately_Avoiding work or other activities" value="2">
        <label class="form-check-label" for="moderately_Avoiding work or other activities">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Avoiding work or other activities" id="a_lot_Avoiding work or other activities" value="3">
        <label class="form-check-label" for="a_lot_Avoiding work or other activities">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Loss of pleasure or satisfaction in life
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of pleasure or satisfaction in life" id="not_at_all_Loss of pleasure or satisfaction in life" value="0">
        <label class="form-check-label" for="not_at_all_Loss of pleasure or satisfaction in life" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Loss of pleasure or satisfaction in life" id="somewhat_Loss of pleasure or satisfaction in life" value="1">
          <label class="form-check-label" for="somewhat_Loss of pleasure or satisfaction in life">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of pleasure or satisfaction in life" id="moderately_Loss of pleasure or satisfaction in life" value="2">
        <label class="form-check-label" for="moderately_Loss of pleasure or satisfaction in life">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of pleasure or satisfaction in life" id="a_lot_Loss of pleasure or satisfaction in life" value="3">
        <label class="form-check-label" for="a_lot_Loss of pleasure or satisfaction in life">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Feeling tired
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling tired" id="not_at_all_Feeling tired" value="0">
        <label class="form-check-label" for="not_at_all_Feeling tired" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Feeling tired" id="somewhat_Feeling tired" value="1">
          <label class="form-check-label" for="somewhat_Feeling tired">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling tired" id="moderately_Feeling tired" value="2">
        <label class="form-check-label" for="moderately_Feeling tired">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Feeling tired" id="a_lot_Feeling tired" value="3">
        <label class="form-check-label" for="a_lot_Feeling tired">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Difficulty sleeping or sleeping too much
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Difficulty sleeping or sleeping too much" id="not_at_all_Difficulty sleeping or sleeping too much" value="0">
        <label class="form-check-label" for="not_at_all_Difficulty sleeping or sleeping too much" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Difficulty sleeping or sleeping too much" id="somewhat_Difficulty sleeping or sleeping too much" value="1">
          <label class="form-check-label" for="somewhat_Difficulty sleeping or sleeping too much">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Difficulty sleeping or sleeping too much" id="moderately_Difficulty sleeping or sleeping too much" value="2">
        <label class="form-check-label" for="moderately_Difficulty sleeping or sleeping too much">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Difficulty sleeping or sleeping too much" id="a_lot_Difficulty sleeping or sleeping too much" value="3">
        <label class="form-check-label" for="a_lot_Difficulty sleeping or sleeping too much">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Decreased or increased appetite
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Decreased or increased appetite" id="not_at_all_Decreased or increased appetite" value="0">
        <label class="form-check-label" for="not_at_all_Decreased or increased appetite" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Decreased or increased appetite" id="somewhat_Decreased or increased appetite" value="1">
          <label class="form-check-label" for="somewhat_Decreased or increased appetite">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Decreased or increased appetite" id="moderately_Decreased or increased appetite" value="2">
        <label class="form-check-label" for="moderately_Decreased or increased appetite">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Decreased or increased appetite" id="a_lot_Decreased or increased appetite" value="3">
        <label class="form-check-label" for="a_lot_Decreased or increased appetite">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Loss of interest in sex
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of interest in sex" id="not_at_all_Loss of interest in sex" value="0">
        <label class="form-check-label" for="not_at_all_Loss of interest in sex" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Loss of interest in sex" id="somewhat_Loss of interest in sex" value="1">
          <label class="form-check-label" for="somewhat_Loss of interest in sex">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of interest in sex" id="moderately_Loss of interest in sex" value="2">
        <label class="form-check-label" for="moderately_Loss of interest in sex">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Loss of interest in sex" id="a_lot_Loss of interest in sex" value="3">
        <label class="form-check-label" for="a_lot_Loss of interest in sex">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Worrying about your health
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Worrying about your health" id="not_at_all_Worrying about your health" value="0">
        <label class="form-check-label" for="not_at_all_Worrying about your health" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Worrying about your health" id="somewhat_Worrying about your health" value="1">
          <label class="form-check-label" for="somewhat_Worrying about your health">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Worrying about your health" id="moderately_Worrying about your health" value="2">
        <label class="form-check-label" for="moderately_Worrying about your health">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Worrying about your health" id="a_lot_Worrying about your health" value="3">
        <label class="form-check-label" for="a_lot_Worrying about your health">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Do you have any suicidal thoughts?
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Do you have any suicidal thoughts?" id="not_at_all_Do you have any suicidal thoughts?" value="0">
        <label class="form-check-label" for="not_at_all_Do you have any suicidal thoughts?" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Do you have any suicidal thoughts?" id="somewhat_Do you have any suicidal thoughts?" value="1">
          <label class="form-check-label" for="somewhat_Do you have any suicidal thoughts?">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Do you have any suicidal thoughts?" id="moderately_Do you have any suicidal thoughts?" value="2">
        <label class="form-check-label" for="moderately_Do you have any suicidal thoughts?">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Do you have any suicidal thoughts?" id="a_lot_Do you have any suicidal thoughts?" value="3">
        <label class="form-check-label" for="a_lot_Do you have any suicidal thoughts?">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Would you like to end your life?
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Would you like to end your life?" id="not_at_all_Would you like to end your life?" value="0">
        <label class="form-check-label" for="not_at_all_Would you like to end your life?" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Would you like to end your life?" id="somewhat_Would you like to end your life?" value="1">
          <label class="form-check-label" for="somewhat_Would you like to end your life?">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Would you like to end your life?" id="moderately_Would you like to end your life?" value="2">
        <label class="form-check-label" for="moderately_Would you like to end your life?">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Would you like to end your life?" id="a_lot_Would you like to end your life?" value="3">
        <label class="form-check-label" for="a_lot_Would you like to end your life?">
          A lot
        </label>
      </div>
  
    </fieldset>
    
    <fieldset class="row">
      <legend class="col-md-4">
        Do you have a plan for harming yourself
      </legend>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Do you have a plan for harming yoursel" id="not_at_all_Do you have a plan for harming yoursel" value="0">
        <label class="form-check-label" for="not_at_all_Do you have a plan for harming yoursel" >
          Not at All
        </label>
      </div>
      <div class=" form-check col">
          <input class="form-check-input" required="required" type="radio" name="Do you have a plan for harming yoursel" id="somewhat_Do you have a plan for harming yoursel" value="1">
          <label class="form-check-label" for="somewhat_Do you have a plan for harming yoursel">
            Somewhat
          </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Do you have a plan for harming yoursel" id="moderately_Do you have a plan for harming yoursel" value="2">
        <label class="form-check-label" for="moderately_Do you have a plan for harming yoursel">
          Moderately
        </label>
      </div>
      <div class="form-check col">
        <input class="form-check-input" required="required" type="radio" name="Do you have a plan for harming yoursel" id="a_lot_Do you have a plan for harming yoursel" value="3">
        <label class="form-check-label" for="a_lot_Do you have a plan for harming yoursel">
          A lot
        </label>
      </div>
  
    </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button> 
</form>
