<form action="" method="post" class="ps-5">
  <div class="row g-4">
    <div class="col-auto form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        one
      </label>
    </div>
    <div class="col-auto form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
      <label class="form-check-label" for="flexRadioDefault2">
        two
      </label>
    </div>
    <div class="row g-4">
      <div class="col-auto form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefaultf" id="flexRadioDefaulta">
        <label class="form-check-label" for="flexRadioDefaulta">
          one
        </label>
      </div>
      <div class="col-auto form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefaultf" id="flexRadioDefaultb">
        <label class="form-check-label" for="flexRadioDefaultb">
          two
        </label>
      </div>
</form>