<p></p>
<p></p>
<p></p>
<p></p>
<p>Welcome to the home page.</p>
<p>Once you create an account, you can measure the serverity of your depression or anxiety</p>
<p>You can also see reports of your previous scores</p>
<p> If you wish, you can delete your data and account by clicking delete account on the toolbar</p>