<form action="#" method="post" class="container">
  <div class="row">
    <div class="mb-3">
      <label for="user_name" class="col-form-label">User Name</label>
      <input type="text"  id="user_name"  class="col-form-control" placeholder="User Name">
    </div>
    <div class="mb-3">
      <label for="password" class="col-form-label">password</label>
      <input type="password" name="password" id="password"  class="col-form-control">
    </div>
  </div>
  <div class="row">
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>